.user-info__edit {
  width: 38px;
  padding: 1px 7px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  color: #fff;
  border: 1px double #fff;
}

@media screen and (max-width: 980px) {
  .user-info__edit {
    margin: 20px 0;
    text-align: center;
  }
}
