@import url(./__content/popup_open-photo__content.css);
@import url(./__image/popup_open-photo__image.css);

.popup_open-photo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
